*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: inherit;
  font: inherit;
  color: inherit;
  background: none;
  box-shadow: none;
}

.report-container {
  font-family: Arial, sans-serif;  
  padding: 2rem;
  background-color: #f7f7f9;
  border-radius: 5px;
  margin: 40px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
}

h2 {
  border-bottom: 2px solid #343a40;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.no-data {
  color: #6c757d;
}

.report-table {
  width: 100%;  
  table-layout: fixed;  
  border-collapse: collapse;
  margin-top: 2rem;
}

.report-table thead th {
  background-color: #343a40;
  color: white;
  padding: 10px 5px;
  text-align: left;
  width: 25%;
}

.report-table tbody tr {
  transition: background-color 0.3s;
}

.report-table tbody tr:hover {
  background-color: #f0f0f0;
}

.report-table tbody tr.correct_answer {
  background-color: #e6f7e6;
}

.report-table tbody tr.incorrect_answer {
  background-color: #f7e6e6;
}

.report-table tbody td {
  padding: 8px 5px;
  border-bottom: 1px solid #ced4da;
  color: black;
  word-break: break-words;
}

.report-table {
  width: 100%;
  table-layout: fixed; /* Ensures columns are a fixed width */
  border-collapse: collapse; /* For border spacing consistency */
}

.report-table th,
.report-table td {
  padding: 8px; /* Ensure consistent padding */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #ced4da; /* Consistent border style */
}

.report-table th {
  background-color: #343a40;
  color: white;
}

/* If you want to set specific widths for each column */
.report-table th:nth-child(1), /* Question column */
.report-table td:nth-child(1) {
  width: 50%; /* Adjust the percentage as needed */
}

.report-table th:nth-child(2), /* Time to Answer column */
.report-table td:nth-child(2),
.report-table th:nth-child(3), /* Correct column */
.report-table td:nth-child(3),
.report-table th:nth-child(4), /* Rating column */
.report-table td:nth-child(4) {
  width: 16.66%; /* Adjust the percentage so that the total is 100% */
}
