.deck-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin: 40px auto;
  color: #333;
  font-family: 'Arial', sans-serif;  
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"], input[type="radio"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  width: auto;
  margin-right: 0.5rem;
}

button, .submit-btn, .save-btn {
  background-color: #007BFF;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin-right: 0.5rem;
  margin-top: 10px;
}

button:hover, .submit-btn:hover, .save-btn:hover {
  background-color: #0056b3;
  transform: scale(0.98);
}

.save-btn {
  background-color: #28a745;
}

.save-btn:hover {
  background-color: #218838;
}

.train-link {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  transition: color 0.2s;
}

.train-link:hover {
  color: #0056b3;
}

.flashcard-list {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.flashcard-list li {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
}

.flashcard-form {
  margin-bottom: 2rem;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none; /* So that the "x" doesn't get highlighted on click */
}

