.session-summary-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  margin: 2rem auto;
  color: #333;
  font-family: Arial, sans-serif;
}

.summary-details {
  margin-top: 2rem;
}

.summary-item {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.summary-item.correct {
  background-color: #d4edda;
  color: #155724; /* Text color for correct answers */
}

.summary-item.incorrect {
  background-color: #f8d7da;
  color: #721c24; /* Text color for incorrect answers */
}

.summary-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.session-summary-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.session-summary-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* You can further style the components as needed based on your design preferences. */

/* Center the session summary on the page */
.session-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the links for returning to other views if needed */
.link-back {
  margin-top: 1rem;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 1.2rem;
}

.link-back:hover {
  text-decoration: underline;
}
